body{
    margin: 30px 10px 10px 50px;
   
}
a {
    text-decoration: none;
}

h1 a {
    text-decoration: none;
    color: #DAA520;
    font-weight: 200;
    font-size: 43px;
    font-family: Lato;
    
    
}

article {
    margin-right: 145px;
    border-bottom: 1px solid #E0E0E0;
  
      
}
p {
    width: 100%;
}
img {
    width: 100%;
}

h2 {
    font-family: Lato;
    font-weight: bold;
    font-size: 21px;
}

h2 a {
    color:black;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    word-spacing: .005em;
    font-family: Lato;
}

h3 {
    font-family: Lato;
    margin-top:50px;
    font-size: 30px;
    font-weight: 200;
    color:#A9A9A9;  
    margin-bottom: -10px;
}

h4  {
    text-align:right;
}
h4 a {
    color:#DAA520;
    font-size:14px;
}

header nav a {
    font-size: 20px;
    font-weight: 200;
    color:#E0E0E0; 
    font-family: Lato;
    border-bottom: 1px solid #E0E0E0;
    margin-right: 6px;
}
p::first-letter {
    font-size: 500%;
    color: #A9A9A9;
    float: left;
}
